@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --clr-primary: #1992D4;
    --clr-white: #FFFFFF;
    --clr-yellow: #F0B429;
    --clr-color-background: #E2E8F0;

    --box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.12), 0 0.6rem 1.6rem rgba(0, 0, 0, 0.08);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--clr-color-background);
}

hr {
    border: none;
    height: 1px;
    background-color: grey;
    margin: 0.6rem 0;
}

.svg {
    height: 3rem;
    width: 3rem;
}

svg path {
    fill: var(--clr-white);
}

.svg-black {
    height: 3rem;
    width: 3rem;
}

.svg-black path {
    fill: black;
}

.small-pp {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}

.big-pp {
    height: 9rem;
    width:9rem;
    border-radius: 50%;
}

.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr 2fr;
}

/* header start */
.header {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: var(--clr-white);
    padding-top: 1rem;
    box-shadow: var(--box-shadow);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: 5rem;
}

.search-input {
    background-color: var(--clr-color-background);
    border-radius: 1.6rem;
    width: 70rem;
    height: 3.6rem;
}

.header-top-right {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-right: 8rem;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-left: 5rem;
}

.header-bottom-right {
    margin-top: 3rem;
    margin-right: 6rem;
}

.header-bottom-right nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.nav-button {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    border-radius: 24px;
    font-size: 1.6rem;
    font-weight: 600;
    width: 12rem;
    height: 5rem;
}

/* header end*/

/* sidebar start */
.sidebar {
    background-color: var(--clr-primary);
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding-left: 10%;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.dashboard {
    font-size: 3.6rem;
    color: var(--clr-white);
}

.menu-groups {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.main-links {
    margin-bottom: 10rem;
}

.menu-item a {
    display: flex;
    padding-left: 12%;
    gap: 2.4rem;
    color: var(--clr-white);
    font-size: 2rem;
    font-weight: 600;
}
/* sidebar end */

/* main content start*/
.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

/* project section start*/
.projects-section {
    padding: 2rem 2rem;
    grid-column: 1 / 3;
    grid-row: 1 / 4;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    height: 90%;
    width: 90%;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 2rem 3rem;
    background: linear-gradient(to right, var(--clr-yellow) 2%, var(--clr-white) 2%);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.card-icons {
    align-self: flex-end;
}

.card-icons svg {
    margin: 0 2rem;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.8rem;
    font-weight: 600;
}

.card-text {
    color: grey;
    font-size: 1.5rem;
}
/* project section end*/

.info-panel {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    padding: 3rem 3rem 5rem 0;
}

.announcements {
    grid-area: 1 / 1 / 2 / 2;
}

.trending {
    grid-area: 2 / 1 / 3 / 2;
}

.white-box {
    background-color: var(--clr-white);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    height: 90%;
    padding: 2.4rem;
}

.announcements-text {
    height: 30%;
}

.announcements-text p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 3;
    overflow: hidden;
    max-width: 90%;
    line-height: 1.5;
    color: grey;
}

.trending-box {
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.trending-box p:first-of-type {
    font-size: 1.6rem;
    font-weight: 500;
}

.trending-box p:nth-of-type(2) {
    font-size: 1.6rem;
    color: grey;
}
/* main content end*/